:root{
    --principalFont: 'Shantell Sans', cursive;;
    --secundaryFont: 'Mynerve', cursive;
    --white: #ffffff;
    --oscure:#000000;
    --coffee:#6F4E37;
}
/*Global Config*/

html{
    font-size: 62.5%;
    /*The upper lines are vital, it allows that 1 rem = 10px*/
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}

/*Header*/
.webp .header{
    background-image: url(../img/banner.webp);
}
.header__title{
    font-family: var(--principalFont);
    color: var(--white);
}
.header__title span{
    font-weight: bold;
    
}

.header__nav a{
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--principalFont);
    padding: 1rem;
    color: var(--white);
}
.header__message{
    margin-top: 10rem;
    text-align: center;
   
}

.header__message h2,
.header__message p{
    color: var(--white);
    font-family: var(--principalFont);
}

.header__message p{
    font-size: 2rem;
}

.header{
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    background-position: center center;
}

.header__nav{
    display: flex;
    padding: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
@media (min-width : 768px){
    
    .header__nav{
        justify-content: space-around;
        flex-direction: unset;
    
    }
    .header__message{
        margin-top: 20rem;
        text-align: center;
       
    }
}

/*Main*/
.content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
}

.content h2{
    font-family: var(--principalFont);
}

.articles {
    display: flex;
    flex-direction: column;
    
}
.articles h3{
    font-family: var(--principalFont);
    
}

.articles img{
    width: 100%;
    
    
}
.articles p{
font-family: var(--secundaryFont);
font-size: 1.8rem;

}

.button{
    background-color: var(--oscure);
    color: var(--white);
    font-family: var(--principalFont);
    padding: 1rem 2rem;
    margin: 0 auto 1rem 0;
    text-align: center;
    text-decoration: none;
}
hr {
    
    width: 100%;
    margin-bottom: 2rem;
}
.courses{
    display: flex;
    flex-direction: column;
}
.courses h3{
    font-family: var(--principalFont);
}
.courses p{
    font-family: var(--secundaryFont);
    font-size: 1.4rem;
    font-weight: bold;
}
.courses span{
    font-family: var(--secundaryFont);
    font-size: 1.4rem;
    font-weight: lighter;
}


.button2{
    background-color: var(--coffee);
    color: var(--white);
    text-align: center;
    font-family: var(--principalFont);
    padding: 1rem 3rem;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 2rem 0rem;
}

@media (min-width : 768px){
    .content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        
    }
    .column1{
        grid-row: 1/4;
       
    }
    .hrfinal{
        width: 0rem;
    }
    
}

/*Footer*/
.header--false{
    background-image: none;
    background-color: var(--oscure);
    height: unset;
}

/*About Us Page*/
.usInfo{
    width: 70%;
    margin: 1rem auto;
}

.usInfo h2{
    font-family: var(--principalFont);
    text-align: center;
}
.usInfo img{
    width: 100%
}

/*Courses Page*/
.content--courses{
    display: flex;
    flex-direction: column;
}

.cursos img{
    width: 100%;
    height:auto;
    align-self: top;
}

@media (min-width : 768px){
    .cursos{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
    .cursos hr{
        grid-column: 1/3;
    }
}
.content--courses h2{
    text-align: center;
}

.info h3{
    font-family: var(--principalFont);
    font-size: 2.3rem;
}

.info p{
    font-family: var(--secundaryFont);
    font-size: 1.8rem;
}
.bold{
    font-weight: bold;
    margin: 3rem 0;
}
.info span{
    font-weight: lighter;
}
